.App {
  text-align: center;
  background-image: linear-gradient(#404040, #B3B3B3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.App-link:hover {
  filter: blur(1px);
}

button:hover {
  color: #a3cbec;
}

a {
  color: #a3cbec;
  text-decoration: none;
}

a:hover {
  color: #a3cbec;
}

footer {
  background-color: #282828;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  padding-bottom: 15px;
}

.profile {
  border-radius: 2%;
}

i {
color: #181818;
filter: contrast(200%);
}